<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>The Customers Page</h1>
Only authenticated users can be here
<div>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>