<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Welcome Everyone!</title>
</head>

<body>
<ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/employees}">Employees</a></li>
    <li><a th:href="@{/customers}">Customers</a></li>
</ul>

<h1>This is the Homepage</h1>
<p>
    Welcome to all!
</p>
</body>
</html>